<?xml version="1.0" encoding="UTF-8"?>

<web-app>
		<display-name>identificador</display-name>
		<servlet>
	        <servlet-name>Servlet</servlet-name>
	        <servlet-class>entregable1.Servlet</servlet-class>
	    </servlet>

		<servlet-mapping>
	        <servlet-name>Servlet</servlet-name>
	        <url-pattern>/ServletEntregable1</url-pattern>
	    </servlet-mapping>



</web-app>